// Couleurs
$noir: #000;
$bleu-fonce: #313144;
$gris-fonce: #C4C4C4;
$gris-moyen: #D8D8D8;
$gris-leger: #E5E5E5;
$bordure-contact: #B8BBC2;
$rouge: #E00000;
$rouge-secondaire: #FE5858;
$rouge-tertiaire: #FFD6D6;
$blanc: #fff;

// Typo
$space-mono: "Space Mono";
$poppins: "Poppins";
$italic: italic;
$normal: normal;
$uppercase: uppercase;