* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 170vh;
}

main {
    flex-grow:1;
}


/* RESPONSIVE */

// @media screen and (min-width: 320px) and (max-width: 768px) {
//     main {
//         margin: 6vh 6vw;
//     }

// }